<!-- Parent html template -->
<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css"/>
  {% endblock %}
</head>
<body>

<div class="wrapper">
    <div class="navbar">
        <ul class="nav-list">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/faq">faq</a></li>
        </ul>
    </div>
    
    <div class="header">
   <div><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/636353-200.png"></div>
    </div>
    
    <div class="main">
  {% block body %}
  {% endblock %}
    </div>
</div>
    
</body>
</html>
